@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

li{
    list-style: none;
}

ul{
    padding-left: 0 !important;
}

a{
    text-decoration: none !important;
}

// navbar
.main-nav{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding: 1em 0;
    padding-top: 2.3em;

    .nav-inner{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .l-part{

            .logo{
                width: 170px;
                display: block;

                img{
                    width: 100%;
                    height: auto;
                }
            }
        }

        .r-part{

            .nav-links{
                display: flex;
                align-items: center;
                gap: 30px;

                li{

                    &:nth-child(2){
                        
                        span{
                            color: #60D669;
                        }
                    }

                    &:first-child{
                        a{
                            text-decoration: underline !important;
                            color: #fff !important;
                        }
                    }

                    a{
                        color: #000;
                        font-size: 16px;
                        font-weight: 500;
                        display: flex;
                        align-items: center;
                        gap: 5px;

                        img{
                            width: 20px;
                            height: auto;
                        }

                        span{
                            font-size: 14px;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}
.home-banner-wrapper{
    position: relative;
    padding: 0.7em;
}
.home-banner{
    position: relative;
    padding: 2em 0;
    padding-top: 5em;
    border-radius: 15px;
    overflow: hidden;

    .banner-content{
        position: relative;
        z-index: 10;
        padding: 3em 0;
        min-height: calc(100vh - 4em);
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;

        h1{
            color: #fff;
            font-size: 4.5em;
            font-weight: 500;
            margin-bottom: 0.2em;

            span{
                font-weight: 700;
            }
        }
    }

    >img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.point-list{
    margin-top: 0;

    li{
       position: relative;
        display: flex;
        align-items: center;
        gap: 0.5em;
        padding: 0.5em 0;

        img{
            width: 28px;
            height: auto;
        }
       
        p{
            color: #fff;
            font-size: 18px;
            font-weight: 400;
            margin-bottom: 0;
        }
    }
}
.home-banner-form{
    position: relative;
    z-index: 5;
    background: #fff;
    border-radius: 1em;
    overflow: hidden;

    box-shadow: 4px 0px 10px 0px rgba($color: #FFBD59, $alpha: 0.16), 4px 0px 10px 0px rgba($color: #FFBD59, $alpha: 0.16), 0px 0px 0px 6px rgba($color: #fff, $alpha: 0.2);

    >img{
        width: 102%;
        transform: translateX(-1.5%);
        height: auto;
        margin-top: -2px;
    }

    .form-top{
        background: #FFBD59;
        position: relative;
        margin-bottom: 0;
        padding: 1.8em 2em;
        padding-bottom: 0em;
        text-align: center;

        h2{
            font-size: 24px;
            font-weight: 600;
            margin-bottom: 5px;
        }

        p{
            margin-bottom: 0;
            font-size: 14px;
        }
    }

    form{
        padding: 2em;
    }
}
.form-group{
    margin-bottom: 1em;

    .label-text{
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 0.5em;
        color: #212121;
    }

    select{
        cursor: pointer;
        appearance: none;
        color: #76868B !important;
    }

    input, select, textarea{
        width: 100%;
        border: 1px solid #5C5C5C;
        border-radius: 10px;
        background: white;
        outline: none;
        box-shadow: none;
        padding: 0.8em 1em;
        color: #000;
        font-size: 14px;

        &::placeholder{
            color: #76868B;
            opacity: 1;
        }
    }

    .select-wrap, .country-code-select{
        position: relative;

        img{
            position: absolute;
            top: 50%;
            right: 1em;
            transform: translateY(-50%);
            width: 12px;
            height: auto;
        }
    }

    .country-code-select{

        select{
            padding-right: 2.5em;
            min-width: max-content;
        }
    }

    .phone-input-group{
        position: relative;
        display: flex;
        align-items: center;
        gap: 0.5em;
    }
}
.main-btn{
    position: relative;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    max-width: max-content;
    padding: 0.9em 2em;
    border-radius: 8px;
    background: #FFBD59;
    color: #121A1F;
    font-size: 16px;
    gap: 0.5em;
    justify-content: center;

    &.circ{
        border-radius: 100px;
    }

    &.border-btn{
        border: 1px solid #121A1F;
        background: transparent;

        span{
            color: #121A1F;
            font-weight: 400;
        }
    }

    &.center{
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
    }

    span{
        color: #121A1F;
        font-weight: 600;
        font-size: 16px;
    }

    &.wide{
        width: 100%;
        max-width: 100%;
    }
}

.sec-title{
    text-align: center;
    font-size: 64px;
    font-weight: 400;
    margin-bottom: 1em;
    color: #101010;
    margin-bottom: 0.2em;

    &.white{
        color: white;
    }

    span{
        font-weight: 700;
        color: #FFB74B;
    }
}
.sec-para{
    font-size: 18px;
    color: rgba($color: #101010, $alpha: 0.7);

    &.white{
        color: rgba($color: #fff, $alpha: 0.7);
    }

    @media(min-width: 1500px){
        font-size: 20px;
    }
}
.sec{
    padding: 4em 0;
}
.how-it-work-list{
    position: relative;
    margin-top: 3em;

    &:after{
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        width: 2px;
        height: 100%;
        transform: translateX(-50%);
        background: transparent;
        border: 1.5px dashed rgba($color: #222222, $alpha: 0.4);
    }
}

.how-it-work-item{
    position: relative;
    display: flex;
    align-items: center;
    gap: 1.5em;
    width: 50%;
    padding: 2.5em 3em;
    
    &:after{
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        width: 15px;
        height: 15px;
        background: #fff;
        border-radius: 50%;
        box-shadow: 0px 0px 0px 8px rgba($color: #fff, $alpha: 0.5), 0px 0px 0px 15px rgba($color: #FFBD59, $alpha: 1);
        transform: translateX(48%) translateY(-50%);
        mix-blend-mode: luminosity;
    }

    .l-part{
        width: 130px;
        min-width: 130px;
        height: 130px;
        border-radius: 12px;
        box-shadow: 4px 4px 10px 0px rgba($color: #000, $alpha: 0.1);
        background: #FFBD59;
        display: flex;
        align-items: center;
        justify-content: center;

       

        h3{
            font-size: 60px;
            font-weight: 600;
            color: #101010;
            margin-bottom: 0;
        }
    }

    .top-part{
        display: flex;
        align-items: center;
        gap: 1em;
        margin-bottom: 1em;

        h4{
            font-weight: 600;
            font-size: 28px;
            margin-bottom: 0;
        }

        img{
            width: 38px;
            height: auto;
        }
    }

    .bottom-part{

        p{
            color: #222222;
            margin-bottom: 0;
        }
    }

    &:nth-child(even){
        margin-left: auto;

        &:after{
            right: unset;
            left: 0;
            transform: translateX(-52%) translateY(-50%);
            mix-blend-mode: normal !important;
       }
    }
    &:nth-child(odd){
       flex-direction: row-reverse;

       .top-part{
            flex-direction: row-reverse;
            
            h4{
                text-align: right;
            }
       }
       .bottom-part{
        p{
            text-align: right;
        }
       }

       .l-part{
            background: #fff;
       }
    }
}
.gray-bg{
    background: #F5F5F5;
}
.team-card{
    padding: 1.5em;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0px 2px 4px 0px rgba($color: #070492, $alpha: 0.1), 0px 10px 60px 0px rgba($color: #062F7D, $alpha: 0.1), 0px 12px 24px 0px rgba($color: #1B3B77, $alpha: 0.05);   
    display: grid;
    grid-template-columns: 0.45fr 1fr;
    align-items: center;
    gap: 2em;
    border: 1px solid #EAECF0;

    .team-img{
        width: 100%;
        padding-top: 100%;
        position: relative;
        border-radius: 10px;
        overflow: hidden;

        img{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    h3{
        font-weight: 500;
        font-size: 32px;
    }
    p{
        font-size: 18px;
        color: #5C5C5C;
        margin-bottom: 0;
    }
}
.team-tabs{
    margin-top: 2em;
    justify-content: center;
    gap: 2em;
    margin-bottom: 2em !important;
    border: none !important;

    li{
        // flex: 1 1 auto;

        button{
            color: #101010 !important;
            font-size: 14px;
            font-weight: 400;
            padding: 0.5em 1em;
            min-width: max-content;
            // width: 100%;
            border: none !important;
            background: transparent !important;
            border-bottom: 3px solid transparent !important;
            
            &.active{
                border-bottom: 3px solid #101010 !important;
                font-weight: 600;
            }
        }
    }
}
.dark-blue-bg{
    background: #111827;
}
.space-card{
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    padding: 2em 2em;
    height: 100%;

    &:after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba($color: #222222, $alpha: 0.32);
        z-index: 2;
    }

    >img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
    }

    .space-card-con{
        position: relative;
        z-index: 3;
        text-align: center;

        h3{
            font-size: 24px;
            font-weight: 600;
            color: #fff;
            margin-bottom: 0.2em;
            margin-top: 0.5em;
        }
        p{
            margin-bottom: 0;
            font-size: 14px;
            color: rgba($color: #fff, $alpha: 0.7);
            font-weight: 400;
        }
    }
}
.row-gap-25{
    row-gap: 25px;
}
.get-started-container{
    background: rgba($color: #fff, $alpha: 0.1);
    border-radius: 12px;
    padding: 2em;
    margin-top: 2.3em;

    .sec-title{
        font-size: 44px;
    }
    .sec-para{
        font-size: 14px;
    }
}
.get-started-btns{
    position: relative;
    display: flex;
    // align-items: center;
    justify-content: center;
    gap: 1.5em;
    background: rgba($color: #fff, $alpha: 0.12);
    border-radius: 12px;
    padding: 2em;
    margin: 0 auto;
    margin-top: 1.5em;
    max-width: 950px;

    a{
        display: flex;
        align-items: center;
        gap: 1em;
        flex: 1 1 auto;
        border-radius: 8px;
        padding: 20px 30px;
        height: 100%;
        min-height: 100px;

        span{
            color: #fff;
            font-size: 20px;
            font-weight: 700;
            display: block;
            flex: 1 1 auto;
        }

        &.call-btn{
            background: #FFBD59;

            span{
                color: #000;
            }
        }
        &.wh-btn{
            background: #27D165;
        }
    }
}
.port-image{
    position: relative;
    padding-top: 45%;
    border-radius: 12px;
    overflow: hidden;

    img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.port-swiper{
    position: relative;
}
.trust-pilot-content{

    h3{
        font-weight: 600;
        font-size: 32px;
        margin-bottom: 5px;
    }

    .trust-pilot-rating{
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 15px;
    }

    .trust-pilot-para{
        margin-top: 15px;
        font-weight: 300;

        a{
            font-weight: 700;
            color: black;
            text-decoration: underline !important;
        }
    }
}
.trust-card{
    background: white;
    box-shadow: 0px 2px 4px 0px rgba($color: #070492, $alpha: 0.1), 0px 24px 60px 0px rgba($color: #062F7D, $alpha: 0.05), 0px 12px 24px 0px rgba($color: #1B3B77, $alpha: 0.05);
    border-radius: 12px;
    padding: 30px 20px;
    background: white;
    text-align: center;
    margin: 30px 0px;

    img{
        width: 180px;
        height: auto;
    }

    h3{
        font-weight: 700;
        font-size: 24px;
        margin-bottom: 5px;
        margin-top: 12px;
    }
    p{
        font-weight: 300;
        font-size: 14px;
    }

    h4{
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 0;
    }
}
.lv-wrapper{
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    padding: 5em 4em;

    >img{
        width: 100%;
        height: auto;
        border-radius: 12px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }

    h2{
        text-align: left;
        font-weight: 700;
       
    }

    p{
        color: white;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 0;
    }

    >*{
        position: relative;
        z-index: 2;
    }

    .col-lg-6{

        img{
            width: 50px !important;
            height: auto;
        }
    }

    .label-text{
        color: white;
    }
}
.acc{

    .accordion-item{
        background: white !important;
        outline: none !important;
        border: none !important;
        border-radius: 20px !important; 
        margin-bottom: 1em;
    }

    .accordion-button{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1em;
        padding: 1em 1.5em;
        background: transparent !important;
        box-shadow: none !important;
        border: none !important;
        border-radius: 20px !important; 

        &:after{
            display: none !important;
        }

        span{
            color: #101010;
            font-size: 20px;
            font-weight: 400;
        }

        &:not(.collapsed){
            background: #FFCF87 !important;

            .faq-icon{
                transform: rotate(90deg);
                background: #101010;

                img{
                    filter: brightness(0) invert(1);
                }
            }
        }

        .faq-icon{
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            transition: all 0.3s ease;

            img{
                transition: all 0.3s ease;
            }
        }
    }

    .accordion-body{
        padding: 1.5em 1.5em;

        p{
            margin-bottom: 0;
            font-size: 18px;
        }
    }
}
.why-choose-item{
    text-align: center;

    h3{
        font-weight: 400;
        font-size: 26px;
        color: #000;
        margin-bottom: 0.4em;
        margin-top: 0.7em;
    }

    p{
        font-size: 18px;
        color: #5C5C5C;
        font-weight: 400;
        margin-bottom: 0;
    }
}
.quality-list{
    position: relative;
    
    li{
        display: flex;
        padding: 0.35em 0px;
        align-items: center;
        gap: 0.5em;
        font-weight: 400;
        color: rgba($color: #101010, $alpha: 0.7);

        img{
            width: 32px;
            height: auto;
        }
        
        span{
            font-size: 20px;
        }
    }
}
.main-footer{
    background: #111827;
    padding: 4em 0px;
    padding-bottom: 0px;
}
.ft-desc{
    font-size: 15px;
    font-weight: 400;
    color: #F8FAFC;
}
.ft-logo{
    position: relative;
    width: 180px;
    height: auto;
    display: block;
    margin-bottom: 15px;

    img{
        width: 100%;
        height: auto;
    }
}
.soc-links{
    display: flex;
    align-items:center;
    gap: 0.7em;
}
.ft-title{
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px;
    color: white;
}
.ft-links{

    li{
        padding: 5px 0px;

        color: #A6AFB5;
        font-weight: 400;

        span{
            font-weight: 600;
            font-size: 16px;
            display: block;
            color: white;
        }

        a{
            color: #A6AFB5;
            font-weight: 400;
        }
    }
}
.con-links{

    li{

        &:first-child{

            a{
    
                display: flex;
                align-items:center;
                gap: 0.7em;

                span{
                    color:#60D669;
                }
            }
        }

        &:not(:first-child){

            a{
                >span{
                    font-weight: 400;
                    color: #A6AFB5;
                }
            }
        }

        a{
            font-size: 16px;
            
            

            .tp{
                display: flex;
                align-items:center;
                gap: 0.7em;
            }
        }
    }
}
.ft-btm{
    display: flex;
    align-items:center;
    justify-content: space-between;
    border-top: 1px solid rgba($color: #FFFFFF, $alpha: 0.2);
    padding: 1em 0px;
    margin-top: 3em;

    p{
        font-size: 14px;
        color: #A6AFB5;
        font-weight: 400;
        margin-bottom: 0px;
    }

    ul{
        display: flex;
        align-items: center;
        margin-bottom: 0;

        li{
            position: relative;
            
            &:not(:last-child){
                
                a{
                    position: relative;
                    

                    &:after{
                        content: '|';
                        color: #A6AFB5;
                        font-size: 14px;
                        font-weight: 400;
                        margin: 0px 5px;
                        display: inline-block;
                    }
                }
            }

            a{
                font-size: 14px;
                color: #A6AFB5;
                font-weight: 400;
            }
        }
    }
}
.refresh-sec{
    position: relative;

    .refresh-container{
        position: relative;
        background: white;
        padding: 2.5em 3em;
        border-radius: 12px;
    }

    .container{
        position: relative;
        z-index: 1;
    }

    >img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .sec-title{
        text-align: left;
    }
}
.partner-logo{
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 130px;
    margin: 0 auto;
    display: block;

    img{
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
    }
}
.partners-sec{

    .swiper{

        .swiper-slide{
            height: auto;
        }
    }
}