@media(min-width: 1500px){
    .banner-content{

        h1{
            font-size: 72px !important;
        }
    }
    
    .point-list{

        li{

            span{
                font-size: 20px;
            }
        }
    }
    .main-btn span{
        font-size: 18px;
    }
}
@media(max-width: 768px){
    .home-banner .banner-content h1{
        font-size: 42px !important;
    }
    .point-list li p{
        font-size: 16px;
    }
    .home-banner .banner-content{
        min-height: auto;
    }
    .main-nav .nav-inner .r-part .nav-links{
        display: none;
    }
    .main-nav .nav-inner{
        padding: 0px 1em;
    }
    .main-nav .nav-inner .l-part .logo{
        width: 150px;
    }
    .main-nav .nav-inner{
        justify-content: center;
    }
    .home-banner{
        padding-bottom: 1em;
    }
    .sec-title{
        font-size: 42px;
    }
    .sec-para{
        font-size: 16px;
    }
    .how-it-work-item{
        margin-left: 0 !important;
        width: 100% !important;
        padding: 1.5em 3em;
        padding-right: 0;
        flex-direction: column !important;
        align-items: flex-start !important;

        .l-part{
            width: 80px;
            min-width: 80px;
            height: 80px;
            max-width: 80px;

            h3{
                font-size: 42px;
            }
        }

        &:after{
            left: 0 !important;
            right: unset !important;
            width: 10px;
            height: 10px;
            box-shadow: 0 0 0 5px hsla(0, 0%, 100%, 0.7), 0 0 0 10px rgb(255 189 89 / 50%) !important;
            transform: translateX(50%) translateY(-50%) !important;
            top: 68px;
        }
    }
    // .how-it-work-item:nth-child(2n+1){
    //     flex-direction: row !important;
    // }
    .how-it-work-list::after{
        left: 10px;
    }
    .how-it-work-item:nth-child(2n+1) .top-part{
        flex-direction: row !important;
    }
    .how-it-work-item:nth-child(2n+1) .bottom-part p{
        text-align: left !important;
    }
    .how-it-work-item .top-part img{
        width: 28px;
    }
    .how-it-work-item .top-part h4{
        font-size: 22px;
    }
    .acc .accordion-button .faq-icon{
        min-width: 50px;
        min-height: 50px;
    }
    .get-started-btns{
        flex-direction: column;
        padding: 1em;

        a{
            padding: 15px 15px;
            min-height: 0px;

            img{
                width: 30px;
                height: auto;
            }

            span{
                font-size: 16px;
                // text-align: left;
            }
        }
    }
    .get-started-container{
        padding: 1em;
    }
    .port-image{
        padding-top: 53%;
    }
    .team-card{
        display: block;

        .team-info{
            margin-top: 1em;
        }

        p{
            font-size: 16px;
        }
    }
    .lv-wrapper{
        padding: 1.5em 1em;

        p{
            font-size: 16px;
        }
    }
    .lv-wrapper .col-lg-6 img{
        width: 36px !important;
    }
    .acc .accordion-button span{
        font-size: 18px;
    }
    .acc .accordion-body p{
        font-size: 16px;
    }
    .refresh-sec .refresh-container{
        padding: 1.5em 1em;
    }
    .ft-title{
        margin-top: 1.5em;
    }
    .ft-btm{
        flex-direction: column;
        gap: 0.5em;
    }
    .trust-card{
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .sec{
        padding: 3em 0px;
    }
    .quality-img{
        margin-bottom: 1.5em;

        img{
            height: auto;
        }
    }
    .quality-list li span{
        font-size: 16px;
    }
    .quality-list li img{
        width: 24px;
    }
    .home-banner-wrapper{
        padding: 0.4em;
    }
    .home-banner-form form{
        padding: 2em 1em;
    }
    .custom-next-button{
        transform: translateY(-50%) translateX(-10%) !important;
    }
    .custom-prev-button{
        transform: translateY(-50%) translateX(5%) !important;
    }
}
