@media(min-width: 1500px){
    .banner-content{

        h1{
            font-size: 72px !important;
        }
    }
    .point-list{

        li{

            span{
                font-size: 20px;
            }
        }
    }
    .main-btn span{
        font-size: 18px;
    }
}